{{ partial "header.html" . }}
	<main class="container">
		<div class="controls">
			<a href="/posts">
				<button class="controls__control">OVERVIEW</button>
			</a>
		</div>
		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}

		{{ if (eq $paginator.TotalNumberOfElements 0) }}
			<p>
				{{ markdownify "I'm working on adding content some content." }}
				Please come back later! 
				{{ emojify ":wink:" }}
			</p>
		{{ end }}

		{{ range $paginator.Pages }}
			{{ partial "summary.html" . }}
		{{ end }}
		{{ partial "pagination.html" . }}
	</main>