{{ $title := (.Title | title ) }}
{{ $siteTitle := (.Site.Title) }}

<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="{{ .Site.Params.author }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=1">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=1">
	<link rel="manifest" href="/site.webmanifest?v=1">
	<link rel="mask-icon" href="/safari-pinned-tab.svg?v=1" color="#283248">
	<meta name="msapplication-TileColor" content="#283248">
	<meta name="theme-color" content="#283248">
	<meta property="og:image:width" content="279">
	<meta property="og:image:height" content="279">
	<meta property="og:image" content="/img/og-image.jpg">
	<meta property="twitter:site" content="{{ .Site.Params.twitterHandle }}">
	<meta property="twitter:image" content="/img/og-image.jpg">
	<meta property="og:url" content="{{ .Permalink }}">
	<meta name="twitter:card" content="summary">
	{{ if eq $siteTitle $title }} 
	<title>{{ $siteTitle }}</title>
	<meta property="og:title" content="{{ $siteTitle }}">
	<meta name="twitter:title" content="{{ $siteTitle }}">
	<meta property="og:description" content="{{ .Site.Params.description }}">
	<meta name="description" content="{{ .Site.Params.description }}">
	<meta name="twitter:description" content="{{ .Site.Params.description }}">
	{{ else }}
	<title>{{ $title }} - {{ $siteTitle }}</title>
	<meta property="og:title" content="{{ $title }} - {{ $siteTitle }}">
	<meta name="twitter:title" content="{{ $title }} - {{ $siteTitle }}">
		{{ if .Params.summary }}
	<meta property="og:description" content="{{ .Params.summary }}">
	<meta name="description" content="{{ .Params.summary }}">
	<meta name="twitter:description" content="{{ .Params.summary }}">
		{{ else }}
	<meta property="og:description" content="{{ .Site.Params.description }}">
	<meta name="description" content="{{ .Site.Params.description }}">
	<meta name="twitter:description" content="{{ .Site.Params.description }}">
		{{ end }}
	{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/syntax.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,700|Source+Sans+Pro:400,400i,600,600i|Source+Code+Pro:400,400i,600,600i" rel="stylesheet">	
	{{ with .OutputFormats.Get "RSS" }}
		<link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml">
	{{ end }}
	{{ hugo.Generator }}
	{{ if .Site.Params.forceHTTPS }}
	<script type="text/javascript">
		var currentLocation = window.location.toString();
		if (currentLocation.indexOf("https://") !== 0 && "{{ .Site.BaseURL }}".indexOf("localhost:1313") === -1) {
			window.location = currentLocation.replace(/^http:/, "https:");
		}
	</script>
	{{ end }}

	<script>
		MathJax = {
			tex: {
				inlineMath: [['$', '$']]
			}
		};
	</script>
	<script id="MathJax-script" async
	src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
	</script>
</head>
<body>
	<header class="header">
		<div class="header__container">
			<h1 class="header__title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
			<nav class="header__navigation">
				<ul>
					{{ range .Site.Menus.main }}
					<li><a href="{{ .URL }}">{{ .Name }}</a></li>
					{{ end }}
				</ul>
			</nav>
		</div>
	</header>