<li class="overview__list__item">
        <span class="overview__list__date">{{ .Date.Format "January 2, 2006" }}</span>
        &nbsp;&mdash;&nbsp;
        <a href="{{ .Permalink }}" class="overview__list__item__title">{{ .Title }}</a>
</li>