<div class="pagination">
{{ if .Paginator.HasPrev }}
	<a class="pagination__previous" href="{{ .Paginator.Prev.URL }}">&laquo; Newer posts</a>
{{ end }}

{{ if and (not .Paginator.HasPrev) (.Paginator.HasNext) }}
	<span class="pagination__position left">{{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }}</span>
{{ end }}
{{ if and (not .Paginator.HasNext) (.Paginator.HasPrev) }}
	<span class="pagination__position right">{{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }}</span>
{{ end }}
{{ if and (.Paginator.HasPrev) (.Paginator.HasNext) }}
	<span class="pagination__position">{{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }}</span>
{{ end }}

{{ if .Paginator.HasNext }}
	<a class="pagination__next" href="{{ .Paginator.Next.URL }}">Older posts &raquo;</a>
{{ end }}
</div>