	<article class="article">
		<div class="metadata">
			<div class="metadata__info">
				<span class="metadata__date">{{ .Date.Format "January 2, 2006" }}</span>
				{{ if .Params.tags }}
				<ul class="metadata__tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
					{{ end }}
				</ul>
				{{ end }}
			</div>
			<h1 class="metadata__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
			{{ if .Params.subtitle }}<h2 class="metadata__subtitle">{{ .Params.subtitle }}</h2>{{ end }}
		</div>
		<div class="content">
			<p class="content__summary">{{ if .Params.summary }}{{ markdownify .Params.summary }}{{ else }}{{ markdownify .Summary }}{{ end }}</p>
			<a href="{{ .Permalink }}"><button class="dark">Read more</button></a>
		</div>
	</article>