{{ partial "header.html" . }}

<main class="container overview">
	<h1 class="overview__title">{{ humanize .Title }}</h1>
	{{ range .Data.Pages.GroupByDate "2006" }}
			<h3>{{ .Key }} </h3>
			<ul>
				{{ range .Pages }}
					{{ partial "list-item.html" . }}
				{{ end }}
			</ul>
		{{ end }}
</main>