{{ partial "header.html" . }}
	<main class="container">
		<article class="article">
			{{ if not .Params.hideMetadata }}
			<div class="metadata">
				<div class="metadata__info">
					{{ if ne (.Date.Format "January 2, 2006") "January 1, 0001" }}
					<date class="metadata__date">{{ .Date.Format "January 2, 2006" }}</date>
					{{ end }}
					{{ if .Params.tags }}
					<ul class="metadata__tags">
						{{ range .Params.tags }}
						<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
						{{ end }}
					</ul>
					{{ end }}
				</div>
				<h2 class="metadata__title">{{ .Title }}</h2>
				{{ if .Params.subtitle }}<h3 class="metadata__subtitle">{{ .Params.subtitle }}</h3>{{ end }}
				
				{{ if .Params.series }}
				
					{{ $seriesName := anchorize .Params.series }}
					{{ $seriesPosts := index .Site.Taxonomies.series $seriesName }}

					{{ if gt (len $seriesPosts) 1 }}
						<div class="metadata__series">
							<p>This post is part of a series on 
								<a href="/series/{{ $seriesName }}">{{ .Params.series }}</a>:
							</p>
							<ul>
								{{ range $seriesPosts }}
									<li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
								{{ end }}
							</ul>
						</div>
					{{ end }}
				{{ end }}
			</div>
			{{ end }}

			<div class="content">
				{{ .Content }}
			</div>

			{{ if eq .Section "posts" }}
			<div class="comments">
				<h2>Thoughts?</h2>
				<p>
					Leave a comment below!
				</p>
				{{ partial "comments" . }}
			</div>
			{{ end }}
		</article>
	</main>