{{ partial "header.html" . }}
{{ $tax := lower .Title }}

<main class="container overview">
    <h1 class="overview__title">{{ .Title }}</h1>
    
    {{ if (eq (len .Data.Terms) 0) }}
        <p>
            {{ markdownify "I'm working on adding content some content." }}
            Please come back later! 
            {{ emojify ":wink:" }}
        </p>
    {{ end }}

    {{ range $name, $value := .Data.Terms }}
        <h3><a href="{{  relLangURL "/" }}{{ $tax }}/{{ urlize $name }}">{{ $name | humanize }}</a></h3>
        <ul>
            {{ range $value.Pages }}
                {{ partial "list-item.html" . }}
            {{ end }}
        </ul>
    {{ end }}
</main>