/**
 * General
 */
.right {
    float: right;
}
.left {
    float: left;
}
.full img {
    width: 100%;
}
.small img {
    width: 512px;
}
.smaller img {
    width: 320px;
}
.roman {
    list-style-type: upper-roman;
}

/**
 * Colors
 */
body {
    color: #223;
}

figcaption,
.metadata__info,
.metadata__subtitle,
.metadata__tags li a {
    color: #a3a3a3;
}
.metadata__tags li a:hover {
    padding-bottom: 1px;
    border-bottom: 1px #dadada solid;
}
.header a {
    color: #ffffff;
}

.header a:hover {
    color: #a3a3a3;
}
.metadata__series a,
.overview a,
.content a,
.pagination a {
    color: #1a82de;
    font-weight: 600;
}
.metadata__series a:hover,
.overview a:hover,
.content a:hover,
.pagination a:hover {
    padding-bottom: 1px;
    border-bottom: 0.5px #1a82de solid;
}

button,
button.inverted:active,
button.inverted:hover {
    color: #fff;
    background-color: #1a82de;
}
button:active,
button:hover {
    background-color: #53acfb;
}
button.inverted {
    color: #1a82de;
    background-color: #fff;
    border-color: #1a82de;
    border-style: solid;
}

button.dark,
button.inverted-dark:active,
button.inverted-dark:hover {
    color: #fff;
    background-color: #283248;
}
button.dark:active,
button.dark:hover {
    background-color: #606b8b;
}
button.inverted-dark {
    color: #283248;
    background-color: #fff;
    border-color: #283248;
    border-style: solid;
}

button.danger,
button.inverted-danger:active,
button.inverted-danger:hover {
    color: #fff;
    background-color: #de1a1a;
}
button.danger:active,
button.danger:hover {
    background-color: #e95d5d;
}
button.inverted-danger {
    color: #de1a1a;
    background-color: #fff;
    border-color: #de1a1a;
    border-style: solid;
}
button {
    transition-timing-function: ease-out;
    transition-duration: 0.2s;
}
hr {
    background-color: #d3d3d3;
}
hr,
blockquote {
    border-color: #d3d3d3;
}
td, th {
    border-color: #283248;
}
thead {
    color: #fff;
    background-color: #283248;
}
tbody tr:hover {
    background-color: #e3e3e3;
}
td:hover {
    background-color: #f3f3f3;
}
mark {
    color: #f3f3f3;
    background-color: #1a82de;
    padding: 0 0.25rem;
}

/**
 * Text and typography
 */
html {
    font-weight: 400;
    font-size: 20px;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
}
pre, kbd, samp, code, tt {
    font-family: "Source Code Pro", "Consolas", monospace;
    font-size: 0.8rem;
    overflow: auto;
}

.header,
h1, h2, h3, h4, h5, h6,
figcaption,
.metadata {
    font-family: "Roboto", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    font-weight: 600;
}
p + p {
    margin-top: 2rem;
}
i, em {
    font-style: italic;
}
b, strong {
    font-weight: 600;
}

* + h1, * + h2 {
    margin-top: 4rem;
}
* + h3, * + h4, * + h5, * + h6 {
    margin-top: 2rem;
}

h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + * {
    margin-top: 1rem;
}

.metadata__title {
    font-size: 2.4rem;
}
.metadata__subtitle {
    font-size: 1.5rem;
}

h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.25rem;
}
h3 { 
    font-size: 1rem;
}
h4, h5, h6 {
    font-size: 0.75rem;
}

p, li {
    font-size: 1rem;
    line-height: 1.7;
    max-width: 70ch;
}
figcaption, figcaption p {
    font-weight: 700;
    font-size: 0.75rem;
    margin: 0 auto;
    max-width: 50ch;
    text-align: left;
}
figcaption {
    margin-bottom: 2em;
}

hr {
    margin: 4rem auto;
    height: 0.1rem;
    border-width: 0.05rem;
    border-style: solid;
}
hr + * {
    margin-top: 0;
}
.content + .comments {
    margin-top: 4rem;
}
#disqus_thread {
    margin-top: 2rem;
}


/**
 * Buttons
 */
button {
    margin: 2rem 0;
    padding: 0.5rem 1rem;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    cursor: pointer;
    outline: none;
}
button.inverted,
button.inverted-dark,
button.inverted-danger {
    padding: 0.35rem 0.85rem;
    border-width: 0.15rem;
}
button.full {
    width: 100%;
}

/**
 * Header
 */
.header {
    width: 100%;
    background-color: #283248;
    overflow: hidden;
}
.header__title {
    float: left;
    margin-bottom: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}
.header__navigation {
    margin-top: 0.33rem;
    float: right;
}

.header__navigation ul {
    margin-left: 0;
    list-style: none;
}
.header__navigation li {
    float: left;
    margin-left: 1rem;
}

/**
 * Metadata
 */
.metadata + * {
    margin-top: 2rem;
}
.metadata__info {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.metadata__date {
    font-weight: bold;
    font-size: 1rem;
    margin-right: 0.5rem;
}
.metadata__tags {
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
    margin-left: 0;
    margin-top: 0.25rem;
    list-style: none;
}
.metadata__tags li {
    font-size: 0.75rem;
}
.metadata__info + .metadata__title {
    margin-top: 2rem;
}

.metadata__title {
    line-height: 1.0;
    color: #112;
    margin-bottom: 0;
}
.metadata__title a {
    color: #112;
}
.metadata__title a:hover {
    color: #283248;
}
.metadata__title + .metadata__subtitle {
    margin-top: 0.5rem;
}
.metadata__subtitle {
    font-weight: 300;
    margin-bottom: 0;
}

.metadata__series {
    margin-top: 2em;
    padding: 2em;
    border-left: 4px solid #1a82de;
    background-color: #f6f6f6;
}


article + article {
    border-top: #f1f1f1 4px solid;
    margin-top: 2rem;
    padding-top: 4rem;
}

/**
 * Controls
 */
.controls {
    margin-bottom: 4em;
}
.controls__control {
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #777777;
    background-color: #f1f1f1;
    margin: 0;
}
.controls__control:hover {
    background-color: #d1d1d1;
}

/**
 * Page
 */
figure,
.container,
.header__container {
    max-width: 720px;
    margin: 0 auto;
    overflow: hidden;
}
.container,
.header__container {
    padding: 4rem 2rem;
}
.header + .container {
    margin-top: 4rem;
}
.container {
    padding: 0 2rem 4rem 2rem;
}
img {
    display: block;
    max-width: 100%;
}

p img {
    margin-left: auto;
    margin-right: auto;
}
caption,
figcaption  {
    margin-top: -0.5rem;
}
figure.top img {
    margin-top: 0;
}
figure.left img,
img.left {
    margin-right: 2rem;
}
figure.left figcaption {
    margin-right: 2rem;
}
figure.right img,
img.right {
    margin-left: 2rem;
}
figure.right figcaption {
    margin-left: 2rem;
}
figure {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1em;
}
figure.left, figure.right {
    text-align: left;
    margin-bottom: 1rem;
}

img {
    margin: 2rem auto;
}

blockquote {
    border-left-width: 0.25rem;
    border-left-style: solid;
    padding: 0.5rem 1rem;
    margin: 2rem 0 2rem 2rem;
}
blockquote p, blockquote li {
    max-width: 65ch;
    font-size: 0.8rem;
    line-height: 1.5;
}
blockquote p + p {
    margin-top: 0.5rem;
}
.pagination {
    text-align: center;
    margin-top: 2rem;
}
.pagination__previous {
    float: left;
}
.pagination__position {
    text-align: center;
}
.pagination__next {
    float: right;
}

/**
 * Lists, definition lists, tables
 */
ol, ul {
    margin-left: 1.25rem;
    list-style-position: outside;
}
ol ul, ul ol, ul ul, ol ol {
    padding-left: 2rem;
}
p + ul, p + ol {
    margin-top: 1rem;
}
ul + p, ol + p {
    margin-top: 2rem;
}
li ul, li ol {
    margin-top: 0;
}
dt {
    font-weight: 700;
}
dd + dt {
    margin-top: 1rem;
}

table {
    margin: 2rem auto;
}
td, th {
    text-align: left;
    border-width: 1px;
    border-style: solid;
    padding: 0.5rem;
}

/**
 * Overview / list pages
 */
.overview__title {
    margin-bottom: 0;
}
.overview__subtitle {
    margin-top: 0.25rem;
    margin-bottom: 4rem;
}

.round {
    border-radius: 50%;
}

/**
 * Syntax highlighting
 */
 p code, li code {
    margin: 0 0.25em;
    font-size: 0.8em;
    color: #2d3035;
    background-color: #e3e3e3;
    padding: 0.25em 0.5em;
    border-radius: 0.3em;
}

pre {
    background-color: #2D3035;
    color: #fff;
    border-left: 6px solid #1a82de;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 2rem;
}

/**
 * Responsiveness
 */
 @media only screen and (max-width: 540px) {
    html {
        font-size: 18px;
    }

    .header__title {
        display: block;
        float: none;
    }
    .header__navigation {
        margin-top: 2rem;
        float: none;
    }
    .header__navigation li {
        margin-top: 1rem;
        margin-left: 0;
        float: none;
    }

    figure.left, figure.right {
        margin-left: 0;
        margin-right: 0;
        float: none;
        text-align: center;
    }

    .controls__control {
        width: 100%;
    }
}