/* Background */ .chroma { background-color: #2D3035; color: #fff; }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: 100%; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { background-color: #ffffcc; display: block; width: 100% }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; display: block; }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }

/* Keyword */ .chroma .k { color: #1a82de; font-weight: bold }
/* KeywordConstant */ .chroma .kc { color: #1a82de; font-weight: bold }
/* KeywordDeclaration */ .chroma .kd { color: #1a82de; font-weight: bold }
/* KeywordNamespace */ .chroma .kn { color: #1a82de; font-weight: bold }
/* KeywordPseudo */ .chroma .kp { color: #1a82de }
/* KeywordReserved */ .chroma .kr { color: #1a82de; font-weight: bold }
/* KeywordType */ .chroma .kt { color: #cdcaa9; font-weight: bold }

/* NameAttribute */ .chroma .na { color: #1bff97 }
/* NameConstant */ .chroma .no { color: #decf96 }
/* NameConstant */ .chroma .nx { color: #ffffff  }
/* NameConstant */ .chroma .nc { color: #ffffff  }
/* NameFunction */ .chroma .nf { color:  #ffffff; font-weight: bold }
/* NameTag */ .chroma .nt { color: #1bff97; font-weight: bold }
/* NameVariable */ .chroma .nv { color: #1bff97 }
/* Annotation? */ .chroma .nd { color:  #6b7e8c  }

/* Operator */ .chroma .o { color:  #6b7e8c  }
/* Parentheses */ .chroma .p { color: #adc2d1
                  }

/* LiteralString */ .chroma .s { color: #decf96 }
/* LiteralStringAffix */ .chroma .sa { color: #decf96 }
/* LiteralStringBacktick */ .chroma .sb { color: #decf96 }
/* LiteralStringChar */ .chroma .sc { color: #decf96 }
/* LiteralStringDelimiter */ .chroma .dl { color: #decf96 }
/* LiteralStringDoc */ .chroma .sd { color: #decf96 }
/* LiteralStringDouble */ .chroma .s2 { color: #decf96 }
/* LiteralStringEscape */ .chroma .se { color: #decf96 }
/* LiteralStringHeredoc */ .chroma .sh { color: #decf96 }
/* LiteralStringInterpol */ .chroma .si { color: #decf96 }
/* LiteralStringOther */ .chroma .sx { color: #decf96 }
/* LiteralStringRegex */ .chroma .sr { color: #decf96 }
/* LiteralStringSingle */ .chroma .s1 { color: #decf96 }
/* LiteralStringSymbol */ .chroma .ss { color: #decf96 }
/* LiteralNumber */ .chroma .m { color: #decf96; font-weight: bold }
/* LiteralNumberBin */ .chroma .mb { color: #decf96; font-weight: bold }
/* LiteralNumberFloat */ .chroma .mf { color: #decf96; font-weight: bold }
/* LiteralNumberHex */ .chroma .mh { color: #decf96; font-weight: bold }
/* LiteralNumberInteger */ .chroma .mi { color: #decf96; font-weight: bold }
/* LiteralNumberIntegerLong */ .chroma .il { color: #decf96; font-weight: bold }
/* LiteralNumberOct */ .chroma .mo { color: #decf96; font-weight: bold }

/* Comment */ .chroma .c { color: #949494; font-style: italic }
/* CommentHashbang */ .chroma .ch { color: #949494; font-style: italic }
/* CommentMultiline */ .chroma .cm { color: #949494; font-style: italic }
/* CommentSingle */ .chroma .c1 { color: #949494; font-style: italic }
/* CommentSpecial */ .chroma .cs { color: #949494; font-style: italic }
/* CommentPreproc */ .chroma .cp { color: #6b7e8c; font-weight: bold; font-style: italic }
/* CommentPreprocFile */ .chroma .cpf { color: #6b7e8c; font-weight: bold; font-style: italic }

/* GenericHeading */ .chroma .gh { font-weight: bold }
/* GenericOutput */ .chroma .go { color: #444444; }
/* GenericSubheading */ .chroma .gu { font-weight: bold }
/* TextWhitespace */ .chroma .w { color: #888888 }

/* Fixes */
.chroma .s2 a { color: #decf96 }
.chroma .s2 a:hover { border: none }